<!DOCTYPE html>
{% from 'macros.html' import empty_notice, messager, pager %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ _('Delete Record - %(site)s', site=get_config('site_name')) }}</title>
    <link rel="stylesheet" href="/static/global.css" />
    <style>
      #container > h1 { margin-top: 0px; text-align: center; }
      .empty_notice { min-width: 30em; min-height: 20em; }
      td { text-align: left; }
      td, th { padding: 0.1em 0.5em; }
      a.reverted { color: gray; }
    </style>
  </head>
  <body class="box_horizontal_center">
    <div id="container">
      {{ messager() }}
      <h1>{{ _('Delete Record') }}</h1>
      <hr/>
      <div class="table_wrapper">
	<table>
	  {% if rec_list %}
	    <tr>
	      <th>{{ _('Type') }}</th>
	      <th>{{ _('ID') }}</th>
	      <th>{{ _('Summary') }}</th>
	      <th>{{ _('Author') }}</th>
	      <th>{{ _('Date') }}</th>
	      <th>{{ _('Operator') }}</th>
	      <th>{{ _('Operations') }}</th>
	    </tr>
	  {% else %}
	    {{ empty_notice() }}
	  {% endif %}
	  {% for rec in rec_list %}
	    <tr>
	      <td>
		{% if rec.is_revert %}
		  {{ _('Revert') }}
		{% else %}
		  {{ _('Delete') }}
		{% endif %}
	      </td>
	      <td>
		{% if rec.topic %}
		  {{ 'topic/%d' % rec.topic.id }}
		{% else %}
		  {{ 'post/%d' % rec.post.id }}
		{% endif %}
	      </td>
	      <td>
		{% if rec.topic %}
		  <p>{{ rec.topic.title }}</p>
		  <p>{{ rec.topic.summary | truncate(40) }}</p>
		{% else %}
		  <p>{{ rec.post.content | truncate(40) }}</p>
		{% endif %}
	      </td>
	      <td>
		{% if rec.topic %}
		  {{ rec.topic.author.name }}
		{% else %}
		  {{ rec.post.author.name }}
		{% endif %}
	      </td>
	      <td>{{ rec.date.isoformat(' ') }}</td>
	      <td>{{ rec.operator.name }}</td>
	      <td>
		{% if not rec.is_revert %}
		  {% if rec.topic %}
		    {% if rec.topic.is_deleted %}
		      <a href="{{ url_for('forum.topic_revert', tid=rec.topic.id) }}">{{ _('Revert') }}</a>
		    {% else %}
		      <a href="{{ url_for('forum.topic_content', tid=rec.topic.id) }}" class="reverted" target="_blank">{{ _('(Reverted)') }}</a>
		    {% endif %}
		  {% else %}
		    {% if rec.post.is_deleted %}
		      <a href="{{ url_for('forum.post_revert', pid=rec.post.id) }}">{{ _('Revert') }}</a>		      
		    {% else %}
		      <a href="{{ url_for('forum.post', pid=rec.post.id) }}" class="reverted" target="_blank">{{ _('(Reverted)') }}</a>
		    {% endif %}
		  {% endif %}
		{% else %}
		  -
		{% endif %}
	      </td>
	    </tr>
	  {% endfor %}
	</table>
      </div>
      {{ pager(pn, count, total) }}
    </div>
  </body>
</html>
