{% extends 'form.html' %}
{% from 'macros.html' import field, submit, pager %}

{% block title %}{{ _('Face Management - %(site)s', site=get_config('site_name')) }}{% endblock %}
{% block body_class %}box_horizontal_center{% endblock %}
{% block form_title %}{{ _('Face Management') }}{% endblock %}

{% block style %}
.tip { font-size: 90%; }
.columns {
    columns: 3;
    column-rule: 1px solid hsl(0, 0%, 60%);
    column-gap: 1em;
    -moz-columns: 3;
    -moz-column-rule: 1px solid hsl(0, 0%, 60%);
    -moz-column-gap: 1em;
    -webkit-columns: 3;
    -webkit-column-rule: 1px solid hsl(0, 0%, 60%);
    -webkit-column-gap: 1em;
}
.item { display: flex; justify-content: space-between; }
.name { font-size: 115%; font-weight: bold; }
.face { vertical-align: center; }
{% endblock %}

{% block form %}
  <div class="columns">
      {% for face in faces %}
	<div class="item">
	  <a href="{{ url_for('.face_remove', name=face.name) }}">
	    <img class="face" src="{{ url_for('image.get', sha256part=face.hash_value) }}" />
	  </a>
	  <span class="name">{{ face.name }}</span>
	</div>
      {% endfor %}
  </div>
  <p class="tip">{{ _('Click the face if you want to remove it.') }}</p>
  <hr/>
  {{ field(form.name) }}
  {{ field(form.hash_value) }}
{% endblock %}


{% block buttons %}
  {{ submit(_('Add')) }}
{% endblock %}
