body { font-family: sans-serif; background-color: hsl(0, 0%, 90%); }

a { text-decoration: none; color: hsl(233, 90%, 50%); }

button::-moz-focus-inner {
    border: 0px;
}

button, input[type="submit"] {
    background-color: hsl(0, 0%, 95%);
    background-image: linear-gradient(to bottom, hsl(0, 0%, 95%), hsl(0, 0%, 90%));
    color: hsl(0, 0%, 30%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    box-shadow: 0 1px 2px hsla(0, 0%, 40%, 0.3);
}

button:hover:enabled, input[type="submit"]:hover:enabled {
    cursor: pointer;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 95%));
}

button:active:enabled, input[type="submit"]:active:enabled {
    background-image: radial-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 85%));
}

button:focus, input[type="submit"]:focus {
    border: 1px solid hsl(0, 0%, 50%);
    outline: none;
}

button:disabled, input[type="submit"]:disabled {
    color: hsl(0, 0%, 60%);
}

.full { margin: 0px; width: 100vw; height: 100vh; }

.flexbox_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    padding: 2.5em;
    box-shadow: 0 3px 9px hsla(0, 0%, 40%, 0.3);
    background-color: white;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 99%));
}
