/* TODO: Firstly make style for PC and then make style for mobile devices. */
/* TODO: Use different layout for different viewport sizes. */

body {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
}

a {
    text-decoration: none;
    outline: none;
    color: hsl(233, 80%, 48%);
}

fieldset { border: none; padding: 0; margin: 0; }

textarea {
    resize: none;
    overflow: auto;
}

textarea[name="content"] {
    margin: 0.2em 0em;
    height: 15em;
}

input[type="text"], input[type="password"], textarea {
    box-sizing: border-box;
    width: 21.55em;
}

input[type="checkbox"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] + label {
    color: hsl(0, 0%, 15%)
}

[name="content"] {
    box-sizing: border-box;
    padding: 0.2em 0.35em;
    overflow: auto;
}

#add_post_form {
    width: 35em;
}

#add_post_form [name="content"] {
    width: 100%;
    margin-bottom: 0.25em;
}

button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
    border: 0px;
}

button, input[type="submit"] {
    background-color: hsl(0, 0%, 95%);
    background-image: linear-gradient(to bottom, hsl(0, 0%, 95%), hsl(0, 0%, 90%));
    color: hsl(0, 0%, 30%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    box-shadow: 0 1px 2px hsla(0, 0%, 40%, 0.3);
    font-size: 125%;
}

button:hover:enabled, input[type="submit"]:hover:enabled {
    cursor: pointer;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 95%));
}

button:active:enabled, input[type="submit"]:active:enabled {
    background-image: radial-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 85%));
}

button:focus, input[type="submit"]:focus {
    border: 1px solid hsl(0, 0%, 50%);
    outline: none;
}

button:disabled, input[type="submit"]:disabled {
    color: hsl(0, 0%, 60%);
}

.btn { cursor: pointer; }

.icon {
    width: 0.75em;
    height: 0.75em;
    vertical-align: sub;
}

.btn_container .icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

body.box_center {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.box_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.box_horizontal_center {
    margin: 0px;
}


.box_horizontal_center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.box_horizontal_center > #container {
    margin: 3.6em 0em;
}

#container {
    position: relative;
}

#container, .dialog {
    padding: 2.5em;
    box-shadow: 0 3px 9px hsla(0, 0%, 40%, 0.3);
    background-color: white;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 99%));
}

#container > #top_left {
    position: absolute;
    top: 0.5em;
    left: 1em;
}

#container > #top_right {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

#container > #top_right *, #container > #top_left * {
    vertical-align: middle;
}

.user_toolbar .name a {
    color: black;
}

.user_toolbar #link_notify_all,
.user_toolbar #link_notify_all + .separator {
    display: none;
}

span.separator {
    color: hsl(0, 0%, 60%);
    margin: 0em 0.1em;
}

.link_highlight {
    color: hsl(0, 85%, 55%);
}

.content del {
    background-color: black;
    text-decoration: none;
}

code, .highlight {
    background-color: hsl(0, 0%, 93%);
    border-radius: 0.4em;
}

code {
    padding: 0.2em;
}

.highlight {
    margin: 0.2em 0em;
    padding: 0.2em;
}

.highlight > pre {
    margin: 0em;
}

.page_link {
    font-size: 120%;
    padding: 0.1em 0.5em;
    margin: 0em 0.1em;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 97%);
}

.page_current { color: inherit; }

/* for Ajax pager */
.page_link:not(.page_current) { cursor: pointer; }

.editor_toolbar .icon {
    width: 1em;
    height: 1em;
}

.bold { font-weight: bold; }

.hidden { display: none !important; }

.red_text { color: hsl(0, 90%, 50%); }

.table_wrapper { display: flex; justify-content: center; }

.empty_notice > span {
    font-weight: bold;
    font-size: 1.5em;
}

.menu_wrapper {
    position: relative;
}

.menu_wrapper:hover > .menu {
    display: inherit;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid gray;
    border-top: none;
}

.menu_item {
    padding: 0.1em 0.25em;
    color: hsl(233, 80%, 48%);
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    white-space: nowrap;
}

.menu_item:hover {
    background-color: hsl(0, 0%, 90%);
}


.menu_item > a {
    display: block;
}


.dialog_wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: hsla(0, 0%, 30%, 0.3);
}

.dialog {
    position: fixed;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
}

.dialog input, .dialog textarea {
    max-width: 100%;
}

.dialog > h2 {
    text-align: center;
    margin-top: 0px;
}

.dialog_btn_wrapper > button {
    margin: 0.3em 0.4em;
}

#insert_code_dialog {
    width: 20em;    
}

#insert_code_textarea {
    height: 15em;    
}

#insert_code_lang_input {
    width: 7em;
    margin: 0.3em 0em;
    text-align: center;
}

#insert_image_dialog {
    top: 50%;
    transform: translate(-50%, -50%);
}

#tag_selector {
    padding: 0em;
    max-width: 30em;
    cursor: default;    
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout:none; 
}

#tag_selector li {
    display: inline-block;    
}

#tag_selector span {
    cursor: default;
}

.message.ok {
    color: hsl(100, 80%, 45%);
}

.message.err {
    color: hsl(0, 90%, 45%);
}

@keyframes show_message {
    from {top: 0em;}
    to {top: -3em;}
}

#messager {
    box-sizing: border-box;    
    position: fixed;
    top: 0em;
    left: 0%;
    right: 0%;
    height: 2.5em;
    width: 30%;
    margin: auto;
    padding: 0.3em 1em;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
    font-weight: bold;
    box-shadow: 0 3px 5px hsla(0, 0%, 40%, 0.3);
    animation-name: show_message;
    animation-delay: 2s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#messager.empty {
    animation-play-state: paused;
}

#messager > .message_list {
    margin: 0em;
    padding: 0em;
    list-style-type: none;
}

@media only screen and (max-width: 1000px) {
    body.box_center, body.box_horizontal_center {
	display: unset;
    }
    #container {
	overflow: hidden;
	margin: 0em auto;
	padding: 2.5em 0.4em;
	min-height: 100vh;
    }
    .box_horizontal_center > #container {
	margin: 0em auto;
    }
    textarea[name="content"] {
	height: 9em;
    }
    .editor_toolbar .icon {
	font-size: 150%;
    }
    #add_topic_form [name="content"], #add_post_form [name="content"] {
	font-size: 140%;
    }
    #add_topic_form [type="submit"], #add_post_form [type="submit"] {
	padding: 0.3em 0em;
	width: 100%;
    }
    .user_toolbar .link_notify:not(#link_notify_all),
    .user_toolbar .link_notify:not(#link_notify_all) + .separator
    {
	display: none;
    }
    .user_toolbar #link_notify_all,
    .user_toolbar #link_notify_all + .separator {
	display: unset;
    }
}
