<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ _('Confirm Operation - %(site)s', site=get_config('site_name')) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/global.css" />
    <style>
      .btn_wrapper { display: flex; justify-content: space-around; }
      .message_text { font-size: 115%; }
      @media only screen and (max-width: 1000px) {
	  .message_text { font-size: 150%; text-align: center; }
	  .btn_wrapper { justify-content: space-around; width: 100%; }
	  .btn_wrapper > * {
	      font-size: 135%;
	      width: 40%;
	  }
	  .btn_wrapper button {
	      width: 100%;
	      padding: 0.3em 0em;
	  }
      }
    </style>
  </head>
  <body class="box_center">
    <div id="container">
      <p class="message_text">{{ text }}</p>
      <div class="btn_wrapper">
	<span>
	  <form method="post">
	    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	    <input type="hidden" name="confirmed" value="confirmed" />
	    <button>{{ _('Yes') }}</button>
	  </form>
	</span>
	<a href="{{ url_no }}">
	  <button>{{ _('No') }}</button>
	</a>
      </div>
    </div>
  </body>
</html>
