<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ _('Confirm Operation - %(site)s', site=get_config('site_name')) }}</title>
    <link rel="stylesheet" href="/static/global.css" />
    <style>
      .btn_wrapper { display: flex; justify-content: space-around; }
      .message_text { font-size: 115%; }
    </style>
  </head>
  <body class="box_center">
    <div id="container">
      <p class="message_text">{{ text }}</p>
      <div class="btn_wrapper">
	<span>
	  <form method="post">
	    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	    <input type="hidden" name="confirmed" value="confirmed" />
	    <button>{{ _('Yes') }}</button>
	  </form>
	</span>
	<a href="{{ url_no }}">
	  <button>{{ _('No') }}</button>
	</a>
      </div>
    </div>
  </body>
</html>
