{% extends 'form.html' %}
{% from 'macros.html' import field, submit %}

{% block title %}{{ _('Password Reset - %(site)s', site=config['site_name']) }}{% endblock %}
{% block form_title %}{{ _('Reset Password') }}{% endblock %}

{% block style %}
#get_token_tip { font-size: 75%; }
{% endblock %}

{% block script %}
var GET_TOKEN_URL = '{{ url_for('user_password_reset_get_token', username='') }}';
var SUBMIT_URL = '{{ url_for('user_password_reset') }}';
var REDIRECT_URL = '{{ url_for('user_login_form') }}';
var LOCK_FORM_AFTER_OK = false;
var REALTIME_VALIDATION = false;
window.addEventListener('load', function(){
    get_token_btn.addEventListener('click', function(){
	var input_username = query('input[name="username"]');
	var username = input_username.value;
	var url = GET_TOKEN_URL + encodeURIComponent(username);
	GET(url, {}, function(xhr){
	    result = JSON.parse(xhr.responseText);
	    if(result.code == 0) {
		msg(result.msg, 'ok');
		get_token_btn.style.display = 'none';
		get_token_tip.style.display = 'none';
	    } else {
		msg(result.msg, 'err');
		get_token_btn.disabled = false;
	    }
	}, err);
	get_token_btn.disabled = true;
    });
});
{% endblock %}

{% block form %}
{{ field('username', _('Nickname'), _('Your nickname (a.k.a ID).'), min=3, max=32, required=true) }}
{{ field('password', _('New Password'), _("New password. Won't be encrypted if not using HTTPS."), type='password', min=1, required=true) }}
{{ field('password_confirm', _('Password Confirmation'), _("Repeat your password to confirm."), type='password', required=true) }}
{{ field('token', _('Verification Code'), _('Code to identify whether you are the owner of the account.'), required=true, maxlength=16) }}
<button type="button" id="get_token_btn">Get Code</button>
<div id="get_token_tip">
  <p>Click the button above to get the code.</p>
  <p>It will be sent to you by email.</p>
</div>
{% endblock %}

{% block buttons %}
{{ submit(_('Reset your password')) }}
{% endblock %}
