{% extends 'form.html' %}
{% from 'macros.html' import field, submit %}

{% block title %}{{ _('Sign in - %(site)s', site=config['site_name']) }}{% endblock %}
{% block form_title %}{{ _('Sign in') }}{% endblock %}

{% block script %}
var SUBMIT_URL = '/api/user/login';
var REDIRECT_URL = '/';
{% endblock %}

{% block form %}
{{ field('login_name', _('Login Name'), _('Login Name can be either username or email address.'), min=3, max=32, required=true) }}
{{ field('password', _('Password'), _("Your password. Won't be encrypted if not using HTTPS."), type='password', required=true) }}
{% endblock %}

{% block buttons %}
{{ submit(_('Sign in')) }}
{% endblock %}
