{% extends 'list.html' %}
{% from 'macros.html' import pager %}

{% block title %}{{ _('Ban List - %(site)s', site=config['site_name'])  }}{% endblock %}
{% block body_class %}box_horizontal_center{% endblock %}
{% block table_title %}{{ _('Ban List') }}{% endblock %}

{% block script %}
function init() {
    var board;
    var match = location.search.match(/board=([^&]+)/);
    if(match)
	board = match[1];
    else
	board = '';
    for(let I of query_all('.ban_cancel_btn')) {
	let uid = I.dataset.uid;
	let name = I.dataset.name;
	I.addEventListener('click', function() {
	    if(
		confirm(
		    printf(
			_('Do you really want to cancel ban on user "%{1}" ?'),
			name
		    )
		)
	    ) {
		POST(
		    printf(
			'/api/ban/remove/%{1}?board=%{2}',
			uid,
			encodeURIComponent(board)
		    ),
		    {},
		    function(xhr) {
			var result = JSON.parse(xhr.responseText);
			if(result.code == 0) {			
			    alert(result.msg);
			    location.replace(location.href);
			} else {
			    alert(result.msg);
			}
		    },
		    function(status, text) {
			if(status != 0)
			    alert(printf(_('Error: %1 %2'), status, text));
			else
			    alert(_('Connection Error or Timeout'));
		    }
		);
	    }
	});
    }
}
window.addEventListener('load', init);
{% endblock %}

{% block table_head %}
  <tr>
    <th>{{ _('User') }}</th>
    <th>{{ _('Date') }}</th>
    <th>{{ _('Duration') }}</th>
    <th>{{ _('Operator') }}</th>
    {% if is_admin %}<th>{{ _('Option') }}</th>{% endif %}
  </tr>
{% endblock %}

{% block table_body %}
  {% for item in data['list'] %}
    <tr class="ban_list_item" data-uid="{{ item['user']['uid'] }}">
      <td>{{ item['user']['name'] }}</td>
      <td>{{ item['date'] | date(detailed=true) }}</td>
      <td>{{ ngettext('%(dur)d Day', '%(dur)d Days', item['days'], dur=item['days']) }}</td>
      <td>{{ item['operator']['name'] }}</td>
      {% if is_admin %}<td><a class="ban_cancel_btn" href="javascript:void(0)" data-uid="{{ item['user']['uid'] }}" data-name="{{ item['user']['name'] }}">{{ _('Cancel') }}</button></td>{% endif %}
    </tr>
  {% endfor %}
{% endblock %}

{% block pager_area %}
  {{ pager(data['count'], items_per_page, pn) }}
{% endblock %}
