<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/global.css" />
    <style>
      #container > h1 { margin-top: 0px; }
      #table_title { text-align: center; }
      td { padding: 0.15em 0.3em; }
    </style>
    <style>
     {% block style %}
     {% endblock %}
    </style>
    <script type="text/javascript" src="/static/toolkit.js"></script>
    <script type="text/javascript">
     {% block script %}
     {% endblock %}
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div id="container">
      <h1 id="table_title">{% block table_title %}{% endblock %}</h1>
      <div class="table_wrapper">
	<table id="main_table">
	  {% block table_head %}
	  {% endblock %}
	  {% block table_body %}
	  {% endblock %}
	</table>
      </div>
      <div class="pager_wrapper">
	{% block pager_area %}
	{% endblock %}
      </div>
    </div>
  </body>
</html>
