{% set FONT_SIZE = 16 %}


{% macro description(desc, errors) %}
  {% if not errors %}
    <p class="field_desc">{{ desc }}</p>
  {% else %}
    <p class="field_desc err">{{ errors[0] | string }}</p>
  {% endif %}
{% endmacro %}


{% macro field(wtf_field) %}
  {% if wtf_field.name == 'captcha' %}
    <div class="captcha_wrapper">
      <img class="captcha_image" src="{{ url_for('get_captcha') }}" />
    </div>
  {% endif %}
  {% if wtf_field.type == 'BooleanField' %}
    <div class="checkbox_wrapper">
      {{ wtf_field(**{'aria-label': wtf_field.label.text, 'autocomplete': 'off'}) }}
      {{ wtf_field.label }}
    </div>
  {% else %}
    {{ wtf_field(**{'placeholder': wtf_field.label.text, 'aria-label': wtf_field.label.text, 'autocomplete': 'off'}) }}
    {% if wtf_field.description %}
      {{ description(wtf_field.description, errors=wtf_field.errors) }}
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro submit(label) %}
  <input type="submit" class="submit_btn" value="{{ label }}" />
{% endmacro %}


{% macro ban_tip(user) %}
  {# please check if banned before invoking this macro #}
  <div class="ban_tip">
    <p>
      {{ _('You are currently being banned.') }}
    </p>
    <p>
      {{ _('Expire date: ') ~ user.banned[0].expire_date.isoformat(' ')[:19] }}
    </p>
  </div>
{% endmacro %}


{% macro avatar(mail, size=1) %}
  <img class="avatar" src="https://www.gravatar.com/avatar/{{ mail | md5 }}?d=mm&s={{ size*FONT_SIZE }}" />
{% endmacro %}


{% macro messager() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    <div id="messager{% if not messages %} empty{% endif %}">
      <ul class="message_list">
	{% if messages %}
	  {% for category, message in messages %}
	    <li class="message{% if category != 'ok' %} {{ category }}{% endif %}">{{ message }}</li>
	  {% endfor %}
	{% endif %}
      </ul>
    </div>
  {% endwith %}
{% endmacro %}


{% macro user_toolbar(user) %}
  <div class="user_toolbar" id="top_right">
    {% if user.is_authenticated %}
      {{ avatar(user.mail) }}
      <span class="name">{{ user.name }}</span>
      <span class="separator">|</span>
      <a id="replyme_link" href="{{ url_for('user.notifications', n_type='reply') }}" target="_blank" data-content="{{ _('Reply') }}">
	{{ _('Reply(%(n)d)', n=user.unread_reply) }}
      </a>
      <span class="separator">|</span>
      <a id="atme_link" href="{{ url_for('user.notifications', n_type='at') }}" target="_blank" data-content="{{ _('At') }}">
	{{ _('At(%(n)d)', n=user.unread_at) }}
      </a>
      <span class="separator">|</span>
      <a class="link_logout" href="{{ url_for('user.logout', next=request.url) }}">
	{{ _('Logout') }}
      </a>
    {% else %}
      <a class="link_login" href="{{ url_for('user.login', next=request.url) }}">
	{{ _('Login') }}
      </a>
      <span class="separator">|</span>
      <a class="link_register" href="{{ url_for('user.register') }}">
	{{ _('Register') }}
      </a>
    {% endif %}
  </div>
{% endmacro %}


{% macro empty_notice() %}
  <div class="empty_notice box_center">
    <span>{{ _('Empty') }}</span>
  </div>
{% endmacro %}


{% macro topic_manage_menu(topic, current_user) %}
  <div id="topic_manage_menu" class="menu">
    {% if current_user.level > 0 %}
    {% if current_user.level == 2 %}
	{% if not topic.is_pinned %}
	  <div class="menu_item" title="{{ _('pin this topic') }}">
	    <a href="{{ url_for('.topic_pin', tid=topic.id) }}">
	      {{ _('Pin') }}
	    </a>
	  </div>
	{% else %}
	  <div class="menu_item" title="{{ _('unpin this topic') }}">
	    <a href="{{ url_for('.topic_pin', tid=topic.id, revert='revert')}}">
	      {{ _('Unpin') }}
	    </a>
	  </div>
	{% endif %}
	{% if not topic.is_distillate %}
	  <div class="menu_item" title="{{ _('add this topic to distillate') }}">
	    <a href="{{ url_for('.topic_distillate', tid=topic.id) }}">
	      {{ _('Dist') }}
	    </a>
	  </div>
	{% else %}
	  <div class="menu_item" title="{{ _('unset distillate for this topic') }}">
	    <a href="{{ url_for('.topic_distillate', tid=topic.id, revert='revert')}}">
	      {{ _('Unset') }}
	    </a>
	  </div>
	{% endif %}
      {% endif %}
      <div class="menu_item" title="{{ _('change tags') }}">
	<a href="{{ url_for('.topic_tag_manage', tid=topic.id) }}">
	   {{ _('Tags') }}
	</a>
      </div>
      <div class="menu_item" title="{{ _('delete this topic') }}">
	<a href="{{ url_for('forum.topic_remove', tid=topic.id) }}">
	  {{ _('Delete') }}
	</a>
      </div>
    {% endif %}
  </div>
{% endmacro %}


{% macro editor_toolbar() %}
  <div class="editor_toolbar">
    <a href="{{ url_for('image.upload') }}" target="_blank" aria-label="add an image" title="add an image">
      <img class="icon" src="/static/icons/image.svg" alt="Add Image" />
    </a>
  </div>
{% endmacro %}


{% macro pager(pn, items_per_page, total, ajax=False) %}
  {% set pages = (total / items_per_page) | round(0, 'ceil') | int %}
  {% if pn <= 4 %}
    {% set lower_limit = 1 %}
    {% if pages >= 10 %}
      {% set upper_limit = 10 %}
    {% else %}
      {% set upper_limit = pages %}
    {% endif %}
  {% else %}
    {% set lower_limit = pn - 4 %}
    {% if pn + 5 <= pages %}
      {% set uppper_limit = pn + 5 %}
    {% else %}
      {% set upper_limit = pages %}
    {% endif %}
  {% endif %}
  <div class="pager box_horizontal_center">
    {% if pages > 1 %}
      {% for i in range(lower_limit, upper_limit+1) %}
	{% if i != pn %}
	  {% if not ajax %}
	    <a class="page_link" href="?pn={{ i }}">{{ i }}</a>
	  {% else %}
	    <a class="page_link" data-pn="{{ i }}">{{ i }}</a>
	  {% endif %}
	{% else %}
	  <a class="page_link page_current">{{ i }}</a>
	{% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
