{% set FONT_SIZE = 16 %}

{% macro field(name, label, desc, type='text', min=0, max=0, required=false, maxlength=0) %}
{% if name == 'captcha' %}<img class="captcha_image" src="/captcha/get" onclick="refresh_captcha();focus_captcha_input();"/><br/>{% endif %}
<input type="{{ type }}" name="{{ name }}" aria-label="{{ label }}" placeholder="{{ label }}" {% if min %}data-min="{{ min }}"{% endif %} {% if max %}data-max="{{ max }}"{% endif %} {% if required %}required="required"{% endif %} {% if maxlength %}maxlength="{{ maxlength }}"{% endif %} {% if name == 'captcha' %}autocomplete="off"{% endif %} />
{# Tip: Don't add a element here! Input.nextElementSibling() is used to show validation message. #}
<p class="field_desc" data-desc="{{ desc }}">{{ desc }}</p>
{% endmacro %}

{% macro submit(label) %}
<input type="submit" class="submit_btn" value="{{ label }}" />
{% endmacro %}

{% macro avatar(email_md5, size=1) %}
<img class="avatar" src="https://www.gravatar.com/avatar/{{ email_md5 }}?d=mm&s={{ size*FONT_SIZE }}" />
{% endmacro %}

{% macro user_info() %}
  <div class="user_info" id="top_right">
    {% if session.get('uid') %}
      {{ avatar(session['mail']) }}
      <span>{{ session['name'] }}</span>
      <span class="separator">|</span>
      <a href="/user/logout">{{ _('Logout') }}</a>
    {% else %}
      <a href="/user/register">{{ _('Register') }}</a>
      <span class="separator">|</span>
      <a href="/user/login">{{ _('Login') }}</a>
    {% endif %}
  </div>
{% endmacro %}

{% macro pager(count, items_per_page, pn) %}
  {# TODO: a lot of pages #}
  {% set pages = count // items_per_page %}
  {% if pages > 1 %}
    <div class="pager box_horizontal_center">
      {% for i in range(1, pages+1) %}
	{% if i != pn %}
	  <a class="page_label page_link" href="?pn={{ i }}">{{ i }}</a>
	{% else %}
	  <span class="page_label page_current">{{ i }}</span>
	{% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
