{% from 'macros.html' import avatar, pager %}
{% macro subpost_list(list, pid, pn, cut=0) %}
  {# tip: cut feature must be used with pn == 1 #}
  {% for subpost in list %}
    <li class="subpost{% if cut != 0 and loop.index > cut %} hidden{% endif %}" id="s{{ subpost['sid'] }}" data-sid="{{ subpost['sid'] }}">
      <div class="subpost_left_container">
	{{ avatar(subpost['author']['mail'], 2) }}
      </div>
      <div class="subpost_right_container">
	<div class="subpost_body">
	  <span class="subpost_author_name">{{ subpost['author']['name'] }}</span>
	  <span class="subpost_content">{{ subpost['content'] }}</span>
	</div>
	<div class="subpost_footer">
	  <div class="subpost_reply_to">
	    {% if subpost.get('reply') %}
	      <img class="icon" src="/static/icons/share-boxed.svg" aria-label="reply to: " alt="reply to: " />
	      <span class="reply_author_name">{{ subpost['reply_author']['name'] }}</span>
	    {% endif %}
	  </div>
	  <div class="info subpost_info">
	    {% if session.get('uid') %}
	      <img class="icon btn subpost_reply_btn" src="/static/icons/share.svg" aria-label="reply" alt="reply" data-sid="{{ subpost['sid'] }}" data-name="{{ subpost['author']['name'] }}" />
	    {% endif %}
	    <span class="date" title="{{ subpost['date'] | date(detailed=true) }}" data-ts="{{ subpost['date'] }}">{{ subpost['date'] | date }}</span>
	    <span class="ordinal">#{{ subpost['ordinal'] }}</span>
	  </div>
	</div>
      </div>
    </li>
  {% endfor %}
{% endmacro %}

{% macro subpost_list_pager(total, count, pn) %}
{{ pager(total, count, pn, ajax=True) }}
{% endmacro %}

{% if data %}
  <div id="ok_tag"></div>
  <ol id="list">
    {{ subpost_list(data['list'], pid, pn) }}
  </ol>
  {{ subpost_list_pager(data['count'], count_subpost, pn) }}
{% endif %}
