{% extends 'form.html' %}
{% from 'macros.html' import field, submit %}

{% block title %}{{ _('Ban %(user)s - %(site)s', user=user.name, site=get_config('site_name')) }}{% endblock %}
{% block body_class %}box_center{% endblock %}
{% block form_title %}{{ _('Ban') }}{% endblock %}

{% block style %}
  #container { min-width: 15em; }
  td { padding: 0.15em 0.3em; }
  td:first-child { text-align: left; }
  button { min-width: 4em; }
  @media only screen and (max-width: 1000px) {
      table { font-size: 150%; }
  }
{% endblock %}

{% block form %}
  <div class="table_wrapper">
    <fieldset{% if ok %} disabled="disabled"{% endif %}>
      <table>
	<tr>
	  <td>{{ _('User') }}</td>
	  <td>{{ user.name }}</td>
	</tr>
	<tr>
	  <td>{{ _('Days') }}</td>
	  <td>{{ field(form.days) }}</td>
	</tr>
      </table>
    </fieldset>
  </div>
{% endblock %}


{% block buttons %}
  {% if not ok %}
    {{ submit(_('Confirm')) }}
  {% endif %}
{% endblock %}
