<!DOCTYPE html>
{% from 'macros.html' import field, submit, user_toolbar, messager, ban_tip, editor_toolbar, insert_code_dialog %}
{% from 'forum/subpost_list.html' import subpost_list %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/subpost.css" />
    <link rel="stylesheet" href="/static/highlight.css" />
    <script type="text/javascript" src="/static/toolkit.js"></script>
    <script type="text/javascript" src="/static/editor.js"></script>
    <template id="richtext_info" style="display: none">
      {{ RT_INFO }}
    </template>
    <title>{{ (post.content|truncate(20)) ~ ' - ' ~ get_config('site_name') }}</title>
    <style>
     #container {
	 width: 55em;
     }
     .icon {
	 width: 0.6em;
	 height: 0.6em;
     }     
     .list {
	 padding: 0em;
	 list-style-type: none;
     }
    </style>
  </head>
  <body class="box_horizontal_center">
    <div id="container">
      {{ messager() }}
      <div id="top_left">
	{% if not post.is_sys_msg %}	
	  <a href={{ url_for('.topic_content', tid=post.topic.id) }}>
	    {{ _('Topic') }}
	  </a>	    
	  {% if post.parent %}
	    <span class="separator">|</span>
	    <a href="{{ url_for('.post', pid=post.parent.id) }}">
	      {{ _('Upper') }}
	    </a>
	  {% endif %}
	{% endif %}
      </div>
      {{ user_toolbar(current_user) }}
      <ul class="list">
	{{ subpost_list(post_list, current_user, post.path|get_level, True) }}
      </ul>
      {% if not post.is_sys_msg and current_user.is_authenticated %}
	{% set is_banned = current_user.is_banned %}
	<hr/>
      <p class="bold">{{ _('Reply this post') }}</p>
      <form id="add_post_form" method="post">
	<fieldset{% if is_banned %} disabled="disabled"{% endif %}>
	  {{ form.csrf_token }}
	  {% if not is_banned %}
	    {{ editor_toolbar() }}
	  {% endif %}
	  {{ field(form.content) }}
	  {{ submit('Reply') }}
	</fieldset>
      </form>
      {% if is_banned %}{{ ban_tip(current_user) }}{% endif %}
      {{ insert_code_dialog() }}
      {% endif %}
    </div>
  </body>
</html>
