<!DOCTYPE html>
{% from 'macros.html' import field, submit, user_toolbar, messager, ban_tip, editor_toolbar, insert_code_dialog, insert_image_dialog, user_helper, face_picker %}
{% from 'forum/subpost_list.html' import subpost_list %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/subpost.css" />
    <link rel="stylesheet" href="/static/highlight.css" />
    <script type="text/javascript" src="/static/toolkit.js"></script>
    <script type="text/javascript" src="/static/editor.js"></script>
    <template id="richtext_info" style="display: none">
      {{ RT_INFO }}
    </template>
    <title>{{ (post.content|truncate(50)) ~ ' - ' ~ get_config('site_name') }}</title>
    <style>
     #container {
	 width: 55em;
     }
     .icon {
	 width: 0.6em;
	 height: 0.6em;
     }
     .list {
	 padding: 0em;
	 list-style-type: none;
     }
     .content_image {
	 max-width: 100%;
     }
     @media only screen and (max-width: 1000px) {
	 #container {
	     width: unset;
	 }
	 #add_post_form {
	     width: 100%;
	 }
	 .subpost:not(:first-child) .btn:not(.subpost_reply_btn) {
	     display: none;
	 }
     }
    </style>
  </head>
  <body class="box_horizontal_center">
    <div id="container">
      {{ messager() }}
      <div id="top_left">
	<a href="{{ url_for('index') }}" title="{{ _('Go back to the homepage') }}">
	  <img class="label_icon" src="/static/icons/home.svg" />
	  <span>{{ _('Home') }}</span>
	</a>	
	{% if not post.is_sys_msg %}
	  <span class="separator">|</span>
	  <a href={{ url_for('.topic_content', tid=post.topic.id) }} title="{{ _('Go back to the topic') }}">
	    <img class="label_icon" src="/static/icons/list.svg" />
	    <span>{{ _('Topic') }}</span>
	  </a>	    
	  {% if post.parent %}
	    <span class="separator">|</span>
	    <a href="{{ url_for('.post', pid=post.parent.id) }}" title="{{ _('Go back to the post of the upper layer') }}">
	      <img class="label_icon" src="/static/icons/arrow-thick-top-modified.svg" />
	      <span>{{ _('Upper') }}</span>
	    </a>
	  {% endif %}
	{% endif %}
      </div>
      {{ user_toolbar(current_user) }}
      <ul class="list">
	{{ subpost_list(post_list, current_user, post.path|get_level, True) }}
      </ul>
      {% if not post.is_sys_msg and current_user.is_authenticated %}
	{% set is_banned = current_user.is_banned %}
	<hr/>
      <p class="bold">{{ _('Reply this post') }}</p>
      <form id="add_post_form" method="post">
	<fieldset{% if is_banned %} disabled="disabled"{% endif %}>
	  {{ form.csrf_token }}
	  {% if not is_banned %}
	    {{ editor_toolbar() }}
	  {% endif %}
	  {{ field(form.content) }}
	  {{ face_picker(get_faces()) }}
	  {{ submit('Reply') }}
	</fieldset>
      </form>
      {% if is_banned %}{{ ban_tip(current_user) }}{% endif %}
      {{ insert_code_dialog() }}
      {{ insert_image_dialog() }}
      {% endif %}
      {{ user_helper(current_user) }}
    </div>
  </body>
</html>
