{% from 'macros.html' import avatar, pager, date_span %}
{% macro subpost_list(list, current_user, base_level=0, first_no_reply_btn=False) %}
  {% for subpost in list %}
    <li class="subpost" id="p{{ subpost.id }}" style="padding-left: {{ ((subpost.path | get_level) - base_level) | get_padding }}em">
      <div class="subpost_left_container">
	{% if not subpost.is_sys_msg %}
	  {{ avatar(subpost.author.mail, 2) }}
	{% endif %}
      </div>
      <div class="subpost_right_container">
	<div class="subpost_body">
	  {% if not subpost.is_sys_msg %}
	    <span class="subpost_author_name">{{ subpost.author.name }}</span>
	  {% endif %}
	  <span class="subpost_content content">{{ subpost.content | get_html | safe }}</span>
	</div>
	<div class="subpost_footer">
	  <div>
	  </div>
	  <div class="info subpost_info">
	    {% if not subpost.is_sys_msg %}
	      {% if not subpost.is_pm and current_user.is_authenticated and current_user.level > 0 %}
		<a href="{{ url_for('.post_remove', pid=subpost.id, prev=request.url) }}">
		  <img class="icon btn subpost_del_btn" src="/static/icons/x.svg" aria-label="delete" alt="delete" title="{{ _('delete this post') }}" />
		</a>
		<a href="{{ url_for('user.ban', uid=subpost.author.id) }}" target="_blank">
		  <img class="icon btn subpost_ban_icon" src="/static/icons/ban.svg" aria-label="ban" alt="ban" title="{{ _('ban this user') }}" />
		</a>
	      {% endif %}
	      {% if current_user.is_authenticated and current_user.id == subpost.author.id %}
		<a href="{{ url_for('forum.post_edit', pid=subpost.id, next=request.url) }}">
		  <img class="icon btn subpost_edit_btn" src="/static/icons/pencil.svg" aria-label="edit" alt="edit" title="{{ _('edit this post') }}" />
		</a>
	      {% endif %}
	      {% if not (first_no_reply_btn and loop.index0 == 0) %}
		<a href="{{ url_for('.post', pid=subpost.id) }}" target="_blank">
		  <img class="icon btn subpost_reply_btn" src="/static/icons/share.svg" aria-label="reply" alt="reply" title="{{ _('reply this post') }}" />
		</a>
	      {% endif %}
	    {% endif %}
	    {% if subpost.last_edit_date %}
	      <span class="edited_mark" title="{{ subpost.last_edit_date | date }}">
		{{ _('[Edited]') }}
	      </span>
	    {% endif %}
	    {{ date_span(subpost.date) }}
	    <span class="ordinal">#{{ subpost.ordinal }}</span>
	  </div>
	</div>
      </div>
    </li>
  {% endfor %}
{% endmacro %}
